<div class="panel panel-default">
    <div class="panel-body">
        <table class="table table-hover table-striped table-bordered">
            <thead>
                <tr>
                    <th class="text-center">Title</th>
                    <th class="text-center">Conent</th>
                    <th class="text-center">Create Date</th>
                    <th class="text-center">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let post of posts">
                    <td>{{ post.title }}</td>
                    <td>{{ post.content }}</td>
                    <td>{{ post.createdAt | date }}</td>
                    <td class="text-center">
                        <a href="#" [routerLink]="['/admin/posts/show/', post.id]">DETAIL</a> |
                        <a href="#" [routerLink]="['/admin/posts/edit/', post.id]">MODIFY</a> |
                        <a href="#" [routerLink]="['/admin/posts/delete/', post.id]">DELETE</a>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="pagination-row">
            <div class="row-left col-md-9 col-xs-12">
                <pagination [boundaryLinks]="boundaryLinks" [directionLinks]="directionLinks" [totalItems]="totalItems" [itemsPerPage]="itemsPerPage" [(ngModel)]="currentPage" (numPages)="smallNumPages = $event" (pageChanged)="pageChanged($event)" previousText="&lsaquo;&lsaquo;"
                    nextText="&rsaquo;&rsaquo;"></pagination>
            </div>
            <div class="row-right col-md-3 col-xs-12">
                <div class="form-group">
                    <select type="text" class="form-control" [(ngModel)]="itemsPerPage" (change)="sizeChanged($event)">
                        <option *ngFor="let size of sizeList" [value]="size">{{size}}</option>
                    </select>
                </div>
            </div>
        </div>

    </div>
</div>